{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/criar.css' %}">
    <title>Criar Roteiro</title>
</head>

<body>
    <div class="container">
        <a href="/" class="btn btn-primary mb-3">Voltar para a página principal</a>

        <h1>Criar Roteiro</h1>

        <form method="post">
            {% csrf_token %}

            <div class="form-group text-center">
                <label for="id_nome">Nome do seu roteiro:</label>
                {{ form.nome }}
            </div>

            <div class="form-group text-center">
                <label for="id_data">Defina a data para esse roteiro</label>
                {{ form.data }}
            </div>

            <h4 id="natureza">Opções de Natureza</h4>
            {{ form.natureza }}

            <h4 id="gastronomia">Opções de gastronomia</h4>
            {{ form.gastronomia }}

            <h4 id="praia">Opções de praias</h4>
            {{ form.praia }}

            <h4 id="cultura">Opções de Cultura</h4>
            {{ form.cultura }}

            <div class="text-center">
                <input type="submit" class="btn btn-primary" value="Enviar">
            </div>
        </form>
    </div>
    <script src="{% static 'js/form.js' %}"></script>
    <script>
        // var pacote = document.getElementById(id_gastronomia).style.visibility = "hidden";
        var y = document.getElementById('id_data');
        y.type = "date";
    </script>
</body>

</html>
