{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Index</title>
</head>
<body>
    
   <header>
    {% if user.is_authenticated %}
    <h2>Usuario: {{ user.get_username }}</h2>
    {% endif %}
    <a href="{% url 'treep:login' %}">Login/Cadastro</a>
    
    {% if user.is_authenticated %}
    <a href="{% url 'treep:logout' %}">Logout</a>
    {% endif %}
   

    {% if user.is_authenticated %}
    <a href="{% url 'treep:roteiro' %}">Seus de Roteiro</a>
    {% endif %}


   </header>
   



<main>
    <form action="{% url 'treep:criar' %}" method="GET">
        {% csrf_token %}
        <h3>Escolha as categorias que você deseja para montar seu Roteiro</h3>
        <hr>
            <span>Natureza</span>
            <input type="checkbox" name="categoria" id="natureza" value="natureza">
            <label for="natureza"><img src="/media/imgINDEX/bica.jpg" alt=""></label>
            <span>Praia</span>
            <input type="checkbox" name="categoria" id="praia" value="praia">
            <label for="praia"><img src="/media/imgINDEX/tambau.png" alt=""></label>
            <span>Gastronomia</span>
            <input type="checkbox" name="categoria" id="gastronomia" value="gastronomia">
            <label for="gastronomia"><img src="/media//imgINDEX/cuscuz.jpg" alt=""></label>
            <span>Cultura</span>
            <input type="checkbox" name="categoria" id="cultura" value="cultura">
            <label for="cultura"><img src="/media/imgINDEX/Centro Cultural São Francisco.jpg" alt=""></label>
    
            <br>
    
            <button type="submit" onclick="checar()">Criar Roteiro</button>
    
    </form>
</main>


<!--
<h2>Lista de locais</h2>
<h3>Praias</h3>
{% for praia in praias %}
<a href="{{praia.url}}" target="_blank">
<img src="{{praia.img.url}}" alt="">
</a>
{% endfor %}
<hr>
<h3>naturezas</h3>
{% for natureza in naturezas %}

<img src="{{natureza.img.url}}" alt="">
{% endfor %}
<hr>
<h3>gastronomias</h3>
{% for gastronomia in gastronomias %}
<img src="{{gastronomia.img.url}}" alt="">
{% endfor %}
<hr>
<h3>culturaes</h3>
{% for cultura in culturaes %}

<img src="{{cultura.img.url}}" alt="">
{% endfor %}
<hr>
<h3>Bares</h3>
{% for bar in bares %}
<span>{{bar.nome}}</span>
<img src="{{bar.img.url}}" alt="">

{% endfor %}-->


<script src="{% static 'js/index.js' %}"></script>
</body>
</html>