{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/roteiro.css' %}">
    <title>Roteiro</title>
</head>

<body>
    <div class="container">
        <a href="{% url 'treep:index' %}" class="btn btn-primary mb-3">Voltar para a página principal</a>
        <h1>Cada card indica um dia do roteiro, Aproveite!</h1>
        <div id="t">
            {% for roteiro in roteiros %}
            <div class="content">
                <label for="">DATA: {{roteiro.data|date:"d/m/Y"}}  NOME: {{roteiro}}</label>
                <div>
                    <a href="{% url 'treep:roteiroDelete' pk=roteiro.id %}" class="a">Apagar Roteiro</a>
                </div>
                <br>
                {% if roteiro.natureza %}
                {% for natureza in roteiro.natureza.all %}
                <div class="card">
                    <div class="d1">
                        <span>Natureza - {{natureza}}</span>
                    </div>
                    <div class="d2 img-container">
                        <img src="{{natureza.img.url}}" alt="">
                    </div>
                    <div class="d1">
                        <a href="{{natureza.url}}" class="local-link" target="_blank">Local</a>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                {% if roteiro.gastronomia %}
                {% for gastronomia in roteiro.gastronomia.all %}
                <div class="card">
                    <div class="d1">
                        <span>Gastronomia - {{gastronomia}}</span>
                    </div>
                    <div class="d2 img-container">
                        <img src="{{gastronomia.img.url}}" alt="">
                    </div>
                    <div class="d1">
                        <a href="{{gastronomia.url}}" class="local-link" target="_blank">Local</a>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                {% if roteiro.praia %}
                {% for praia in roteiro.praia.all %}
                <div class="card">
                    <div class="d1">
                        <span>Praia - {{praia}}</span>
                    </div>
                    <div class="d2 img-container">
                        <img src="{{praia.img.url}}" alt="">
                    </div>
                    <div class="d1">
                        <a href="{{praia.url}}" class="local-link" target="_blank">Local</a>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                {% if roteiro.cultura %}
                {% for cultura in roteiro.cultura.all %}
                <div class="card">
                    <div class="d1">
                        <span>Cultura - {{cultura}}</span>
                    </div>
                    <div class="d2 img-container">
                        <img src="{{cultura.img.url}}" alt="">
                    </div>
                    <div class="d1">
                        <a href="{{cultura.url}}" class="local-link" target="_blank">Local</a>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
</body>

</html>
