body {
    background-color: #fffbeb;
    font-family: "Volvo Novum", sans-serif;
    font-style: normal;
}

header {
    background-color: #9a3412;
    padding: 17px;
    padding-left: 30px;
    text-align: left;
    display: flex;
}

h2 {
    color: #fff;
    align-itens: left;
}

h3 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 32px;
    margin-top: 2rem;
    
}

a {
    color: #fff;
    text-decoration: none;
    /* margin: 0 10px; */
    margin-left: 2em;
    margin-top: 0.7em;
    align-itens: right;
    text-align: right;
}

a:hover {
    color: #75270d;
}

main {
    margin: 20px;
    text-align: center;
    margin: 0;
}

h3 {
    color: #9a3412;
}

hr {
    border-color: #9a3412;
}

span {
    font-weight: bold;
}

.category {
    display: inline-block;
    text-align: center;
    margin: 10px;
    width: 200px;
    transition: transform 0.2s;
    /* Adicionando transição suave ao efeito de escala */
}

.category:hover {
    transform: scale(1.1);
    /* Aumenta o tamanho do card em 10% quando o mouse passa sobre ele */
}

.card {
    border-color: #9a3412;
    transition: box-shadow 0.3s;
}

input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

input[type="checkbox"]:checked+label .card {
    border-color: #ccf;
    /* Mudança na cor da borda quando selecionado */
}

.card:focus-within {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombreamento suave quando focado */
}

.btn-primary {
    background-color: #9a3412;
    border-color: #9a3412;
}

.btn-primary:hover {
    background-color: #75270d;
    border-color: #75270d;
}