
body{
    background-color: rgb(120, 224, 189);
}



input[type="checkbox"] {
    visibility: hidden;
}

label {
display: block;
border: 4px solid #666;
height: 150px;
width: 200px;
/*float: left;*/
}

input[type="checkbox"]:checked+label {
border-color: #ccf;
}
img {
height: 150px;
width: 200px;
}
a{
    margin-left: 20px;
}