body {
    background-color: #fffbeb;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.content {
    text-align: left;
    background-color: #fffbeb; 
    border: 1px solid #9a3412;
    padding: 20px;
    margin-bottom: 20px;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fffbeb; 
    border: 1px solid #9a3412; 
    padding: 10px;
    margin-bottom: 10px;
}

.d1 {
    padding: 10px;
    flex: 1;
}

.d2 {
    flex: 1;
}

.a {
    color: #9a3412; 
    text-decoration: none;
}

.a:hover {
    color: #75270d;
}

h1 {
    color: #9a3412;
}

a.btn {
    background-color: #9a3412; 
    border-color: #9a3412; 
    color: #fff; 
    text-decoration: none;
}

a.btn:hover {
    background-color: #75270d; 
    border-color: #75270d;
}

.img-container {
    text-align: center;
}

.img-container img {
    width: 350px; 
    height: 250px;
}

.local-link {
    color: #9a3412;
    text-decoration: none;
}

.local-link:hover {
    color: #75270d; 
}